.banner {
  z-index: 1;
  background: url(../img/cover.png) no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
}
.banner h1, .banner h2 {
  margin: 0 auto;
  padding: 0;
  color: #FFFFFF;
}
.banner h1 {
  padding-top: 100px;
  font-style: oblique;
  letter-spacing: 2px;
  font-size: 64px;
}
.banner h2 {
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: 7px;
}
.banner p {
  margin-top: 90px;
  color: #FFFFFF;
  font-size: 19.2px;
  font-family: Times New Roman;
  letter-spacing: 2px;
}

.info {
  text-align: center;
}
.info h3 {
  margin: 0 auto;
  padding: 10px 0;
  letter-spacing: 4px;
  margin-top: -46px;
  color: #FFFFFF;
  background: #FF0048;
  max-width: 300px;
}

.triangle {
  width: 0;
  height: 0;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #FF0048 transparent transparent;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  z-index: 9;
}
