.header {
  background: #360836;
  height: 60px;
  line-height: 60px;
}
.header ul {
  text-align: center;
}
.header ul li {
  display: inline-block;
  margin: 0 15px;
}
.header ul li a {
  color: #ff5E8B;
  text-decoration: none;
  font-size: 18px;
  transition: ease-in-out 1s;
}
.header ul li a:hover {
  color: #ffffff;
}
